################################
# EditorConfig is awesome      #
# See: http://EditorConfig.org #
################################

# This file is the top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Define style of doc comments for indentation checks
block_comment_start = /*
block_comment = *
block_comment_end = */

# Exception for .sln files as they reformat themselves
[{*.sln,*.sln.DotSettings.user,*.csproj}]
charset = unset
indent_size = unset
indent_style = unset

[*.cs]
indent_size = 4

[src/backend/Bennetr.BrickInv.Api/Bennetr.BrickInv.Api/Migrations/**.cs]
charset = unset
indent_size = unset
indent_style = unset
